@font-face {
	font-family: "Avant Garde";
	src:
		url("avant_garde_bold.woff2") format("woff2"),
		url("avant_garde_bold.woff") format("woff");
}
body {
	background:
		url("images/headerbg.png"),
		url("images/tile.png");
	background-repeat: no-repeat, repeat;
	background-position: top center;
	line-height: 1.5;
	font-size: 62.5%;
	background-color: black;
	margin: 0;
	color: white;
	font-family: Helvetica, Arial, sans-serif; }

main {
	padding: 2em;
	width: 700px;
	margin: auto;
	border-style: solid;
	border-width: 0 110px 150px 110px;
	border-image-source: url("images/backer2.png");
	border-image-slice: 0 120 160 120;
	border-image-repeat: round; }

nav {
	font-weight: normal;
  width: 1050px;
	margin: auto;
	text-align: right;
	font-size: 2em;
	background-color: #58421A;
	background: linear-gradient(0deg, rgba(88,66,26,1) 0%, rgba(172,145,95,1) 35%, rgba(172,145,95,1) 65%, rgba(88,66,26,1) 100%) }

a, h1, h2, h3, h4, h5, h6 { font-family: "Avant Garde", Helvetica, Arial, sans-serif; }
nav a { color: white; filter: drop-shadow(4px 4px 4px #352508); }
header { height: 173px; }
footer { width: 900px; margin: auto; padding: 0em; }
h2 { font-size: 3em; margin-top: 0; }
h3 { font-size: 2em; }
p, li, dt, dd { font-size: 1.8em; }
li li { font-size: 1em; }
main a { color: #ac915f; }
hr { margin: 1.3em 0; }
footer img { display: block; float: right; width: 30%; margin-left: 1.5em; }
small { font-size: 0.5em; }

.usable-area { width: 1000px; margin: auto; }
.log { height: 400px; display: block; margin: auto; }

#logo { width: 40%; }